body{background-color:rgb(154, 180, 150)}

.cartao{
    margin: auto;
    width: 400px; 
    background-color:darkgrey;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

label{width: 100%;}
input{width: 100%;
      margin-bottom: 20px;
      border-radius:4px;
      padding:5px;
}
button{
    background-color:rgb(90, 105, 88);
    color:honeydew;
    border-width: 5px;
   border-radius:4px;
   padding: 6px;
   width:100%;
   font-size: 15px;
}

h1{
    text-align: center;
}