<html>
    <head>
       <title>Minhas tarefas</title>
       <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        Aqui fica a lista de tarefas

        {% if lista %}
             <ol>
             {% for item in lista %}
                 <li>{{ item }}</li>
                 <a href="/delete/{{loop.index0}}"><button>Excluir</button></a>
             {% endfor %}
            </ol>
        {% else %}
             <p> Não há items! Parabéns! Você fez tudo das tarefas</p>
        {% endif %}


        <form action="/add" method="post">
            <input type="text" name="nova">
            <button type="submit">adicionar</button>
        </form>
    </body>

</html>